{% extends 'base.html' %}


{% load static %}

{% block title %} | Car Management {% endblock %}

{% block content %}
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Car Management</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Car Management</li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    {% if user.is_superuser %}
        <div class="row">
            <div class="col-12 mb-4">
                <a href="{% url 'add_car' %}" class="btn btn-primary">
                    <i class="fa fa-plus"></i> Add New Car
                </a>
            </div>
            {% for car in cars %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <img src="{{ car.car_photo.url }}" class="card-img-top" alt="{{ car.car_title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ car.car_title }}</h5>
                            <p class="card-text">
                                <strong>Price:</strong> ${{ car.price }}<br>
                                <strong>Model:</strong> {{ car.model }}<br>
                                <strong>Year:</strong> {{ car.year }}
                            </p>
                            <div class="btn-group w-100">
                                <a href="{% url 'car_detail' car.id %}" class="btn btn-info">
                                    <i class="fa fa-eye"></i> View
                                </a>
                                <a href="{% url 'update_car' car.id %}" class="btn btn-warning">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                <a href="{% url 'delete_car' car.id %}" class="btn btn-danger">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Added: {{ car.created_date|date:"M d, Y" }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        {% if cars.has_other_pages %}
            <div class="pagination">
                <ul class="pagination">
                    {% if cars.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ cars.previous_page_number }}">&laquo;</a>
                        </li>
                    {% endif %}
                    {% for i in cars.paginator.page_range %}
                        <li class="page-item {% if cars.number == i %}active{% endif %}">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if cars.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ cars.next_page_number }}">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger">
            <h4>Access Denied</h4>
            <p>You must be an administrator to access this page.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
<div class="col-12 mb-4">
    <a href="{% url 'add_car' %}" class="btn btn-primary">
        <i class="fa fa-plus"></i> Add New Car
    </a>
</div>
